@import "design-system/styles.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
